<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.bugtags.ui">

    <!--<uses-sdk-->
    <!--android:minSdkVersion="9"-->
    <!--android:targetSdkVersion="19" />-->

    <!--<application-->
    <!--android:allowBackup="true">-->
    <!--</application>-->

</manifest>
